@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: var(--color-white);
  --foreground: var(--color-zinc-700);

  --primary: var(--color-blue-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-zinc-100);
  --subtle: var(--color-zinc-600);
  --border: --alpha(var(--color-black) / 10%);
  --ring: --alpha(var(--color-black) / 20%);

  --chart-1: var(--primary);
  --chart-2: var(--foreground);
  --chart-3: var(--color-orange-400);
}

.dark {
  --background: var(--color-zinc-900);
  --foreground: var(--color-zinc-200);

  --primary: var(--color-blue-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-zinc-800);
  --subtle: var(--color-zinc-300);
  --border: --alpha(var(--color-white) / 10%);
  --ring: --alpha(var(--color-white) / 20%);

  --chart-1: var(--primary);
  --chart-2: var(--foreground);
  --chart-3: var(--color-orange-400);
}

@theme {
  --font-sans: "Rubik", sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-subtle: var(--subtle);
  --color-border: var(--border);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
}

body {
  @apply bg-background text-foreground;
}

#root {
  isolation: isolate;
}

h1 {
  @apply text-3xl;
}

svg {
  @apply shrink-0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.enter {
  animation: fade-in ease-out .3s;
}

@layer components {
  .ui-card {
    @apply rounded-lg bg-background p-4 text-foreground outline -outline-offset-1 outline-border;
  }

  .ui-button {
    @apply flex min-h-9 items-center gap-1 rounded-lg p-2 text-left text-sm leading-4 transition-colors not-disabled:hover:bg-secondary disabled:opacity-50 [&_svg:not([class*='size-'])]:size-5;
  }

  .ui-table {
    @apply w-full text-sm leading-4;

    thead tr th {
      @apply min-h-10 bg-secondary/40 px-2 py-1 text-left align-middle font-medium text-subtle first:pl-4 last:pr-4;
    }

    tbody tr td {
      @apply border-t border-t-border bg-background p-2 align-middle first:pl-4 last:not-has-[a,button]:pr-4 has-[a,button]:pl-0;
    }
  }

  .ui-fieldset {
    legend {
      @apply mb-1 text-sm text-subtle;
    }
  }

  .ui-input {
    @apply inline-flex h-9 w-full items-center gap-2 rounded-lg border border-border px-2 py-1.5 text-sm invalid:border-red-500/30 invalid:bg-red-500/10 has-invalid:border-red-500/30 has-invalid:bg-red-500/10 aria-invalid:border-red-500/30 aria-invalid:bg-red-500/10;

    :where(input) {
      @apply inline-flex h-full w-full appearance-none border-0 bg-transparent;

      &:focus,
      &:focus-within {
        outline: none;
      }
    }

    &:focus-visible,
    &:focus-within {
      outline: auto;
    }
  }

  .ui-select {
    @apply h-9 rounded-lg border border-border px-2 py-1.5 text-sm transition-colors open:bg-secondary not-disabled:hover:bg-secondary;
  }
}
