@import "tailwindcss";

@theme {
  --font-sans: "Rubik", sans-serif;

  --color-background: var(--color-white);
  --color-primary: var(--color-zinc-700);
  --color-secondary: var(--color-zinc-100);
  --color-subtle: var(--color-zinc-600);
  --color-border: --alpha(var(--color-black) / 10%);
}

body {
  @apply bg-background text-primary;
}

h1 {
  @apply mb-6 text-2xl;
}

svg {
  @apply shrink-0;
}

.ui-button {
  @apply flex items-center gap-1 rounded-lg p-2 text-left not-disabled:hover:bg-secondary disabled:opacity-50 [&_svg:not([class*='size-'])]:size-5;
}

.ui-table {
  @apply w-full text-sm leading-5;

  th {
    @apply h-10 bg-secondary/25 px-4 text-left align-middle font-medium text-subtle;
  }

  td {
    @apply border-t border-t-border px-4 py-3 align-middle;
  }
}

.ui-input {
  @apply h-9 rounded-lg border border-border px-2 py-1.5 invalid:border-red-500/30 invalid:bg-red-500/10 aria-invalid:border-red-500/30 aria-invalid:bg-red-500/10;
}

.ui-select {
  @apply h-9 rounded-lg border border-border px-2 py-1.5;
}
