name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.5

      - name: Install deps
        run: bun i

      - name: Lint
        run: bun run lint

      - name: Test
        run: bun run test
