name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  test-and-build:
    name: Test and Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.5

      - name: Install deps
        run: bun i

      - name: Lint
        run: bun run lint

      - name: Run tests
        run: bun run test

      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1

      - name: Build Docker images
        run: docker compose build

      - name: Start Docker services
        run: docker compose up --renew-anon-volumes -d

      - name: Install Playwright Browsers
        working-directory: e2e
        run: bunx playwright install --with-deps

      - name: Run e2e tests
        env:
          BASE_URL: http://localhost:8081
        run: bun run test:e2e

      - name: Stop Docker services
        run: docker compose down
